@use "variables" as variables;

@mixin on-tablet {
  @media (min-width: variables.$tablet-min-width) {
    @content;
  }
}

@mixin on-laptop {
  @media (min-width: variables.$laptop-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }
  @include on-laptop {
    padding-inline: 32px;
  }
}
