$mobile-min-width: 375px;
$tablet-min-width: 768px;
$laptop-min-width: 1440px;
$desktop-min-width: 1920px;

$side-menu-width: 300px;

$color-bg: #fff;
$color-bg2: #f5fbfc;
$color-bg3: #eef3f7;
$color-green-gradient-bg: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
$color-border: #cfdfe5;
$color-primary: #1dc3b0;
$color-primary-hover: #2bd9bc;
$color-primary2: #e31351;
$color-primary2-hover: #f72056;
$color-text1: #292d33;
$color-text2: #51555a;
$color-text4: #bfbfbf;
