@use "../utils/variables" as variables;
@use "../utils/mixins" as mixins;

.employees-swiper {
  display: flex;
  align-items: center;
  height: auto;

  &__container {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    flex: 1;
  }

  &__slide {
    &:hover .employees__swiper-slide-img-bg {
      background-color: #192224;
      opacity: 0.2;
    }
    &:hover .employees__swiper-slide-schedule {
      transform: translateY(0);
    }
  }

  &__slide-wrapper {
    max-width: 344px;
    margin-inline: auto;
    padding-block: 48px;
  }

  &__slide-img-wrapper {
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    margin-bottom: 16px;
  }

  &__slide-img-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    background-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
  }

  &__slide-img {
    width: 100%;
  }

  &__slide-schedule {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 17px 24px 23px;
    transform: translateY(100%);
    background: variables.$color-green-gradient-bg;
    box-shadow: 0px -2px 8px 0px #0b3c361a inset;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }

  &__slide-label {
    width: 81px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0%;
  }

  &__slide-schedule-line {
    min-height: 100%;
    width: 1px;
    background-color: #cfdfe5;
  }

  &__slide-time1,
  &__slide-time2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0%;
    white-space: pre-line;
  }

  &__slide-title {
    max-width: 207px;
    font-weight: 700;
    font-size: 18.4px;
    line-height: 1.2;
    letter-spacing: 0%;
    margin-bottom: 6px;
  }

  &__slide-text {
    font-weight: 400;
    font-size: 14.7px;
    line-height: 1.5;
    letter-spacing: 0%;
  }

  &__button-prev,
  &__button-next {
    background-color: variables.$color-bg;
    position: relative;
    z-index: 10;
    flex: 0 0 40px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }

  &__button-prev {
    box-shadow: 5px 0 5px -4px rgba(0, 0, 0, 0.3);
  }

  &__button-next {
    box-shadow: -5px 0 5px -4px rgba(0, 0, 0, 0.3);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none !important;
  }
}
