@use "../utils/mixins" as mixins;

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  &__content {
    width: 100%;

    @include mixins.on-laptop {
      padding-left: 300px;
    }
  }
}
