@use "../../utils/variables" as variables;
@use "../../utils/mixins" as mixins;

.employees {
  padding-block: 120px 100px;

  @include mixins.on-laptop {
    padding-block: 282px 136px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__title {
    max-width: 701px;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.17;
    letter-spacing: 0%;
  }

  &__btn {
    align-self: flex-end;
  }
}
