.patient-history {
  background-color: variables.$color-bg3;
  padding-top: 90px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__swiper {
    display: flex;
    align-items: center;
    height: auto;
  }

  &__swiper-container {
    flex: 1;
    overflow: hidden;
    /* display: flex прибрали! */
    width: 100%;
  }

  &__swiper-wrapper {
    display: flex; // обов’язково
  }

  &__swiper-slide-wrapper {
    max-width: 248px;
    margin-inline: auto;
    padding-block: 32px;
  }

  &__swiper-slide-img-wrapper {
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    margin-bottom: 16px;
  }

  &__swiper-slide-img-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    background-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
  }

  &__swiper-slide-img {
    width: 100%;
  }

  &__swiper-slide-title {
    font-weight: 700;
    font-size: 18.4px;
    margin-bottom: 12px;
    transition: color 0.3s ease;
  }

  &__swiper-slide-date {
    font-weight: 400;
    font-size: 12.8px;
    transition: color 0.3s ease;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    background-color: variables.$color-bg3;
    flex: 0 0 43px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }

  &__swiper-button-prev {
    box-shadow: 5px 0 5px -4px rgba(0, 0, 0, 0.3);
  }

  &__swiper-button-next {
    box-shadow: -5px 0 5px -4px rgba(0, 0, 0, 0.3);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none !important;
  }
}
